@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Raleway:wght@600;700&display=swap");

$dark-bg-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0iI2ZmZiIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0yMTYuNDksMTA0LjQ5bC04MCw4MGExMiwxMiwwLDAsMS0xNywwbC04MC04MGExMiwxMiwwLDAsMSwxNy0xN0wxMjgsMTU5bDcxLjUxLTcxLjUyYTEyLDEyLDAsMCwxLDE3LDE3WiI+PC9wYXRoPjwvc3ZnPg==");
$light-bg-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0iIzAwMDAwMCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0yMTYuNDksMTA0LjQ5bC04MCw4MGExMiwxMiwwLDAsMS0xNywwbC04MC04MGExMiwxMiwwLDAsMSwxNy0xN0wxMjgsMTU5bDcxLjUxLTcxLjUyYTEyLDEyLDAsMCwxLDE3LDE3WiI+PC9wYXRoPjwvc3ZnPg==");

@mixin select-background-image($mode) {
	background-image: if($mode == dark, $dark-bg-image, $light-bg-image);
}

.light {
	select {
		@include select-background-image(light);
	}
}

.dark {
	select {
		@include select-background-image(dark);
	}
}

@layer base {
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.shadow-solid {
		border: 0.25rem solid #000;
		border-radius: 1rem;
		box-shadow: 0.75rem 0.75rem #000;
	}

	.input-container {
		display: flex;
		flex-direction: column;

		& span {
			font-weight: 600;
		}

		& input,
		& textarea {
			@extend .input;
		}

		& select {
			@extend .input;
			appearance: none;
			background-position: right 1rem center;
			background-repeat: no-repeat;
			background-size: 1em;
			@include select-background-image(light);

			& option {
				border: none;
				color: #000;
			}
		}
	}

	.input {
		background-color: transparent;
		border: 0.125rem solid #000;
		border-radius: 0.375rem;
		box-shadow: 0.125rem 0.125rem #000;
		box-sizing: border-box;
		outline: #acd1bf;
		padding-block: 0.25rem;
		padding-inline: 0.5rem;
		width: 100%;

		&::placeholder {
			color: #6b7280;
		}

		&--search {
			background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0iIzAwMDAwMCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0yMzIuNDksMjE1LjUxLDE4NSwxNjhhOTIuMTIsOTIuMTIsMCwxLDAtMTcsMTdsNDcuNTMsNDcuNTRhMTIsMTIsMCwwLDAsMTctMTdaTTQ0LDExMmE2OCw2OCwwLDEsMSw2OCw2OEE2OC4wNyw2OC4wNywwLDAsMSw0NCwxMTJaIj48L3BhdGg+PC9zdmc+")
				no-repeat scroll;
			background-position: right 0.25rem center;
			padding-right: 1.75rem;
		}
	}
}

:root {
	--color-gradient-primary: #acd1bf;
}
