@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

:root {
	--color-gradient-primary: #acd1bf;
	--color-gradient-secondary: #615f61;
}

.bg-pattern {
	background: repeating-linear-gradient(
		-30deg,
		var(--color-gradient-primary),
		var(--color-gradient-primary) 25px,
		var(--color-gradient-secondary) 25px,
		var(--color-gradient-secondary) 75px
	);
	background-color: --color-gradient-secondary;
}

.shadow-solid {
	box-shadow: 12.5px 12.5px #000;
}
